@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

/* b7c0d8 - черный e8edf9 - белый */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 30px;
}

.board {
  width: calc(72px * 8);
  height: calc(72px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 56px;
  height: 56px;
  position: relative;
}

.black {
  background-color: #b7c0d8;
}

.white {
  background-color: #e0e9ff;
}

.selected {
  background-color: #bdafff;
}

.available {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #bdafff;
}

.right {
  width: calc(72px * 4);
  height: calc(72px * 8);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background: #e0e9ff;
  border: #bdafff 2px solid;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover {
  background: #d4e0ff;
}

.button:active {
  background: #bdafff;
}